## 测试数据库连接

In [1]:
from pymysql import Connection

# Initialize database connection and get schema description
def init_db(host:str, port:str, user:str, password:str, database:str) -> Connection:
    return Connection(host=host, port=int(port), user=user, password=password, database=database)

def get_db_schema(conn:Connection, db_name:str):
    sql = f"show tables from {db_name}"
    with conn.cursor() as cursor:
        cursor.execute(sql)
        tables = cursor.fetchall()
        tables_schema = []
        for table in tables:
            sql = f"show create table {table[0]}"
            cursor.execute(sql)
            create_table_sql = cursor.fetchone()
            tables_schema.append(create_table_sql)
        return tables_schema

from config import *

dbConnection = init_db(HOST, PORT, USER, PASSWORD, DATABASENAME)
schema = get_db_schema(dbConnection, DATABASENAME)
print(schema)

[('ACT_EVT_LOG', "CREATE TABLE `ACT_EVT_LOG` (\n  `LOG_NR_` bigint NOT NULL AUTO_INCREMENT,\n  `TYPE_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `PROC_DEF_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `PROC_INST_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `EXECUTION_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `TASK_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `TIME_STAMP_` timestamp(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),\n  `USER_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `DATA_` longblob,\n  `LOCK_OWNER_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `LOCK_TIME_` timestamp(3) NULL DEFAULT NULL,\n  `IS_PROCESSED_` tinyint DEFAULT '0',\n  PRIMARY KEY (`LOG_NR_`)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_bin"), ('ACT_GE_BYTEARRAY', 'CREATE TABLE `ACT_GE_BYTEARRAY` (\n  `ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin NOT NULL,\n  `REV_` int DEFAULT NULL,\n  `NAME_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `DEPLOYMENT_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `BYTES_` longblob,\n  `GENERATED_` tinyint DEFAULT NULL,\n  PRIMARY KEY (`ID_`),\n  KEY `ACT_FK_BYTEARR_DEPL` (`DEPLOYMENT_ID_`),\n  CONSTRAINT `ACT_FK_BYTEARR_DEPL` FOREIGN KEY (`DEPLOYMENT_ID_`) REFERENCES `ACT_RE_DEPLOYMENT` (`ID_`)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_bin'), ('ACT_GE_PROPERTY', 'CREATE TABLE `ACT_GE_PROPERTY` (\n  `NAME_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin NOT NULL,\n  `VALUE_` varchar(300) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `REV_` int DEFAULT NULL,\n  PRIMARY KEY (`NAME_`)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_bin'), ('ACT_HI_ACTINST', "CREATE TABLE `ACT_HI_ACTINST` (\n  `ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin NOT NULL COMMENT '活动ID',\n  `REV_` int DEFAULT '1' COMMENT '版本号，默认值为1，用于乐观锁机制',\n  `PROC_DEF_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin NOT NULL COMMENT '流程定义ID,对应表（act_run_execution,act_hi_procinst）',\n  `PROC_INST_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin NOT NULL COMMENT '流程实例ID,对应表(act_re_procdef)',\n  `EXECUTION_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin NOT NULL COMMENT '执行实例ID,对应表（act_run_execution）',\n  `ACT_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin NOT NULL COMMENT '节点ID',\n  `TASK_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL COMMENT '任务实例ID',\n  `CALL_PROC_INST_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL COMMENT '调用外部的流程实例ID',\n  `ACT_NAME_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL COMMENT '节点名称',\n  `ACT_TYPE_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin NOT NULL COMMENT '节点类型',\n  `ASSIGNEE_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL COMMENT '签收人',\n  `START_TIME_` datetime(3) NOT NULL COMMENT '开始时间',\n  `END_TIME_` datetime(3) DEFAULT NULL COMMENT '结束时间',\n  `TRANSACTION_ORDER_` int DEFAULT NULL COMMENT '事务顺序，用于记录活动实例在事务中的顺序',\n  `DURATION_` bigint DEFAULT NULL COMMENT '活动持续时间，单位为毫秒',\n  `DELETE_REASON_` varchar(4000) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL COMMENT '删除原因，记录活动实例被删除的原因',\n  `TENANT_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT '' COMMENT '租户ID，默认值为空字符串，用于多租户环境下的隔离',\n  PRIMARY KEY (`ID_`),\n  KEY `ACT_IDX_HI_ACT_INST_START` (`START_TIME_`),\n  KEY `ACT_IDX_HI_ACT_INST_END` (`END_TIME_`),\n  KEY `ACT_IDX_HI_ACT_INST_PROCINST` (`PROC_INST_ID_`,`ACT_ID_`),\n  KEY `ACT_IDX_HI_ACT_INST_EXEC` (`EXECUTION_ID_`,`ACT_ID_`)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_bin COMMENT='历史的流程实例:历史活动信息。这里记录流程流转过的所有节点，与HI_TASKINST不同的是，taskinst只记录usertask内容。'"), ('ACT_HI_ATTACHMENT', 'CREATE TABLE `ACT_HI_ATTACHMENT` (\n  `ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin NOT NULL,\n  `REV_` int DEFAULT NULL,\n  `USER_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `NAME_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `DESCRIPTION_` varchar(4000) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `TYPE_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `TASK_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `PROC_INST_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `URL_` varchar(4000) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `CONTENT_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `TIME_` datetime(3) DEFAULT NULL,\n  PRIMARY KEY (`ID_`)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_bin'), ('ACT_HI_COMMENT', 'CREATE TABLE `ACT_HI_COMMENT` (\n  `ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin NOT NULL,\n  `TYPE_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `TIME_` datetime(3) NOT NULL,\n  `USER_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `TASK_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `PROC_INST_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `ACTION_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `MESSAGE_` varchar(4000) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `FULL_MSG_` longblob,\n  PRIMARY KEY (`ID_`)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_bin'), ('ACT_HI_DETAIL', 'CREATE TABLE `ACT_HI_DETAIL` (\n  `ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin NOT NULL,\n  `TYPE_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin NOT NULL,\n  `PROC_INST_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `EXECUTION_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `TASK_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `ACT_INST_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `NAME_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin NOT NULL,\n  `VAR_TYPE_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `REV_` int DEFAULT NULL,\n  `TIME_` datetime(3) NOT NULL,\n  `BYTEARRAY_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `DOUBLE_` double DEFAULT NULL,\n  `LONG_` bigint DEFAULT NULL,\n  `TEXT_` varchar(4000) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `TEXT2_` varchar(4000) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  PRIMARY KEY (`ID_`),\n  KEY `ACT_IDX_HI_DETAIL_PROC_INST` (`PROC_INST_ID_`),\n  KEY `ACT_IDX_HI_DETAIL_ACT_INST` (`ACT_INST_ID_`),\n  KEY `ACT_IDX_HI_DETAIL_TIME` (`TIME_`),\n  KEY `ACT_IDX_HI_DETAIL_NAME` (`NAME_`),\n  KEY `ACT_IDX_HI_DETAIL_TASK_ID` (`TASK_ID_`)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_bin'), ('ACT_HI_ENTITYLINK', 'CREATE TABLE `ACT_HI_ENTITYLINK` (\n  `ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin NOT NULL,\n  `LINK_TYPE_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `CREATE_TIME_` datetime(3) DEFAULT NULL,\n  `SCOPE_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `SUB_SCOPE_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `SCOPE_TYPE_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `SCOPE_DEFINITION_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `PARENT_ELEMENT_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `REF_SCOPE_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `REF_SCOPE_TYPE_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `REF_SCOPE_DEFINITION_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `ROOT_SCOPE_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `ROOT_SCOPE_TYPE_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `HIERARCHY_TYPE_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  PRIMARY KEY (`ID_`),\n  KEY `ACT_IDX_HI_ENT_LNK_SCOPE` (`SCOPE_ID_`,`SCOPE_TYPE_`,`LINK_TYPE_`),\n  KEY `ACT_IDX_HI_ENT_LNK_REF_SCOPE` (`REF_SCOPE_ID_`,`REF_SCOPE_TYPE_`,`LINK_TYPE_`),\n  KEY `ACT_IDX_HI_ENT_LNK_ROOT_SCOPE` (`ROOT_SCOPE_ID_`,`ROOT_SCOPE_TYPE_`,`LINK_TYPE_`),\n  KEY `ACT_IDX_HI_ENT_LNK_SCOPE_DEF` (`SCOPE_DEFINITION_ID_`,`SCOPE_TYPE_`,`LINK_TYPE_`)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_bin'), ('ACT_HI_IDENTITYLINK', "CREATE TABLE `ACT_HI_IDENTITYLINK` (\n  `ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin NOT NULL COMMENT '主键，唯一标识一个身份链接实例',\n  `GROUP_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL COMMENT '组的ID，如果该身份链接关联了一个组，则记录该组的ID',\n  `TYPE_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL COMMENT '身份链接的类型:assignee: 负责人，表示该用户或组是任务的直接负责人；candidate: 候选人，表示该用户或组是任务的潜在负责人；owner: 所有者，表示该用户或组是任务的所有者；participant: 参与者，表示该用户或组参与了某个流程或任务；starter: 启动者，表示该用户启动了流程实例；involved: 相关方，表示该用户或组与任务或流程有关联',\n  `USER_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL COMMENT '用户的ID，如果该身份链接关联了一个用户，则记录该用户的ID',\n  `TASK_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL COMMENT '任务的ID，如果该身份链接关联了一个任务，则记录该任务的ID',\n  `CREATE_TIME_` datetime(3) DEFAULT NULL COMMENT '创建时间，记录该身份链接创建的时间',\n  `PROC_INST_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL COMMENT '流程实例的ID，如果该身份链接关联了一个流程实例，则记录该流程实例的ID。',\n  `SCOPE_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL COMMENT '作用域的ID，用于标识该身份链接所属的作用域',\n  `SUB_SCOPE_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL COMMENT '子作用域的ID，用于标识该身份链接所属的子作用域',\n  `SCOPE_TYPE_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL COMMENT '作用域的类型:process-definition: 流程定义，表示该身份链接属于某个流程定义；case-definition: 案例定义，表示该身份链接属于某个案例定义；message-subscription: 消息订阅，表示该身份链接属于某个消息订阅；signal-subscription: 信号订阅，表示该身份链接属于某个信号订阅；task: 任务，表示该身份链接属于某个任务；decision-definition: 决策定义，表示该身份链接属于某个决策定义；batch: 批处理，表示该身份链接属于某个批处理操作；',\n  `SCOPE_DEFINITION_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL COMMENT '作用域定义的ID，用于标识该身份链接所属的作用域定义',\n  PRIMARY KEY (`ID_`),\n  KEY `ACT_IDX_HI_IDENT_LNK_USER` (`USER_ID_`),\n  KEY `ACT_IDX_HI_IDENT_LNK_SCOPE` (`SCOPE_ID_`,`SCOPE_TYPE_`),\n  KEY `ACT_IDX_HI_IDENT_LNK_SUB_SCOPE` (`SUB_SCOPE_ID_`,`SCOPE_TYPE_`),\n  KEY `ACT_IDX_HI_IDENT_LNK_SCOPE_DEF` (`SCOPE_DEFINITION_ID_`,`SCOPE_TYPE_`),\n  KEY `ACT_IDX_HI_IDENT_LNK_TASK` (`TASK_ID_`),\n  KEY `ACT_IDX_HI_IDENT_LNK_PROCINST` (`PROC_INST_ID_`)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_bin COMMENT='历史流程人员表:任务参与者数据表,主要存储历史节点参与者的信息。'"), ('ACT_HI_PROCINST', "CREATE TABLE `ACT_HI_PROCINST` (\n  `ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin NOT NULL COMMENT '主键，唯一标识一个流程实例',\n  `REV_` int DEFAULT '1' COMMENT '版本号，默认值为1，用于乐观锁机制。',\n  `PROC_INST_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin NOT NULL COMMENT '流程实例的ID，与 ID_ 一致，用于唯一标识一个流程实例。',\n  `BUSINESS_KEY_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL COMMENT '业务键，用于标识流程实例关联的业务数据。',\n  `PROC_DEF_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin NOT NULL COMMENT '流程定义的ID，标识该流程实例所属的流程定义。',\n  `START_TIME_` datetime(3) NOT NULL COMMENT '流程实例的开始时间。',\n  `END_TIME_` datetime(3) DEFAULT NULL COMMENT '流程实例的结束时间。',\n  `DURATION_` bigint DEFAULT NULL COMMENT '流程实例的持续时间，单位为毫秒。',\n  `START_USER_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL COMMENT '启动流程实例的用户ID。',\n  `START_ACT_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL COMMENT '流程实例的起始活动ID。',\n  `END_ACT_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL COMMENT ' 流程实例的结束活动ID。',\n  `SUPER_PROCESS_INSTANCE_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL COMMENT '上级流程实例的ID，如果该流程实例是嵌套在另一个流程实例中的子流程，则记录上级流程实例的ID。',\n  `DELETE_REASON_` varchar(4000) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL COMMENT '删除原因，记录流程实例被删除的原因。',\n  `TENANT_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT '' COMMENT '租户ID，默认值为空字符串，用于多租户环境下的隔离。',\n  `NAME_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL COMMENT '流程实例的名称。',\n  `CALLBACK_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL COMMENT '回调ID，用于回调外部系统。',\n  `CALLBACK_TYPE_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL COMMENT '回调类型，标识回调的类型，例如“rest”、“email”等。',\n  `REFERENCE_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL COMMENT '引用ID，用于引用其他系统或数据。',\n  `REFERENCE_TYPE_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL COMMENT ' 引用类型，标识引用的类型。',\n  `PROPAGATED_STAGE_INST_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL COMMENT '传播阶段实例ID，用于标识流程实例在特定阶段的传播情况。',\n  `BUSINESS_STATUS_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL COMMENT '业务状态，用于记录流程实例的业务状态。',\n  PRIMARY KEY (`ID_`),\n  UNIQUE KEY `PROC_INST_ID_` (`PROC_INST_ID_`),\n  KEY `ACT_IDX_HI_PRO_INST_END` (`END_TIME_`),\n  KEY `ACT_IDX_HI_PRO_I_BUSKEY` (`BUSINESS_KEY_`),\n  KEY `ACT_IDX_HI_PRO_SUPER_PROCINST` (`SUPER_PROCESS_INSTANCE_ID_`)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_bin COMMENT='历史的流程实例:用于存储流程引擎中已完成的流程实例的历史信息。'"), ('ACT_HI_TASKINST', "CREATE TABLE `ACT_HI_TASKINST` (\n  `ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin NOT NULL,\n  `REV_` int DEFAULT '1',\n  `PROC_DEF_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `TASK_DEF_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `TASK_DEF_KEY_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `PROC_INST_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `EXECUTION_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `SCOPE_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `SUB_SCOPE_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `SCOPE_TYPE_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `SCOPE_DEFINITION_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `PROPAGATED_STAGE_INST_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `NAME_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `PARENT_TASK_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `DESCRIPTION_` varchar(4000) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `OWNER_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `ASSIGNEE_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `START_TIME_` datetime(3) NOT NULL,\n  `CLAIM_TIME_` datetime(3) DEFAULT NULL,\n  `END_TIME_` datetime(3) DEFAULT NULL,\n  `DURATION_` bigint DEFAULT NULL,\n  `DELETE_REASON_` varchar(4000) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `PRIORITY_` int DEFAULT NULL,\n  `DUE_DATE_` datetime(3) DEFAULT NULL,\n  `FORM_KEY_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `CATEGORY_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `TENANT_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT '',\n  `LAST_UPDATED_TIME_` datetime(3) DEFAULT NULL,\n  PRIMARY KEY (`ID_`),\n  KEY `ACT_IDX_HI_TASK_SCOPE` (`SCOPE_ID_`,`SCOPE_TYPE_`),\n  KEY `ACT_IDX_HI_TASK_SUB_SCOPE` (`SUB_SCOPE_ID_`,`SCOPE_TYPE_`),\n  KEY `ACT_IDX_HI_TASK_SCOPE_DEF` (`SCOPE_DEFINITION_ID_`,`SCOPE_TYPE_`),\n  KEY `ACT_IDX_HI_TASK_INST_PROCINST` (`PROC_INST_ID_`)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_bin"), ('ACT_HI_TSK_LOG', "CREATE TABLE `ACT_HI_TSK_LOG` (\n  `ID_` bigint NOT NULL AUTO_INCREMENT,\n  `TYPE_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `TASK_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin NOT NULL,\n  `TIME_STAMP_` timestamp(3) NOT NULL,\n  `USER_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `DATA_` varchar(4000) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `EXECUTION_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `PROC_INST_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `PROC_DEF_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `SCOPE_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `SCOPE_DEFINITION_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `SUB_SCOPE_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `SCOPE_TYPE_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `TENANT_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT '',\n  PRIMARY KEY (`ID_`)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_bin"), ('ACT_HI_VARINST', "CREATE TABLE `ACT_HI_VARINST` (\n  `ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin NOT NULL,\n  `REV_` int DEFAULT '1',\n  `PROC_INST_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `EXECUTION_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `TASK_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `NAME_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin NOT NULL,\n  `VAR_TYPE_` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `SCOPE_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `SUB_SCOPE_ID_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `SCOPE_TYPE_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `BYTEARRAY_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `DOUBLE_` double DEFAULT NULL,\n  `LONG_` bigint DEFAULT NULL,\n  `TEXT_` varchar(4000) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `TEXT2_` varchar(4000) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `CREATE_TIME_` datetime(3) DEFAULT NULL,\n  `LAST_UPDATED_TIME_` datetime(3) DEFAULT NULL,\n  PRIMARY KEY (`ID_`),\n  KEY `ACT_IDX_HI_PROCVAR_NAME_TYPE` (`NAME_`,`VAR_TYPE_`),\n  KEY `ACT_IDX_HI_VAR_SCOPE_ID_TYPE` (`SCOPE_ID_`,`SCOPE_TYPE_`),\n  KEY `ACT_IDX_HI_VAR_SUB_ID_TYPE` (`SUB_SCOPE_ID_`,`SCOPE_TYPE_`),\n  KEY `ACT_IDX_HI_PROCVAR_PROC_INST` (`PROC_INST_ID_`),\n  KEY `ACT_IDX_HI_PROCVAR_TASK_ID` (`TASK_ID_`),\n  KEY `ACT_IDX_HI_PROCVAR_EXE` (`EXECUTION_ID_`)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_bin"), ('ACT_ID_BYTEARRAY', 'CREATE TABLE `ACT_ID_BYTEARRAY` (\n  `ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin NOT NULL,\n  `REV_` int DEFAULT NULL,\n  `NAME_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `BYTES_` longblob,\n  PRIMARY KEY (`ID_`)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_bin'), ('ACT_ID_GROUP', 'CREATE TABLE `ACT_ID_GROUP` (\n  `ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin NOT NULL,\n  `REV_` int DEFAULT NULL,\n  `NAME_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  `TYPE_` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT NULL,\n  PRIMARY KEY (`ID_`)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_bin'), ('ACT_ID_INFO', 'CREATE TABLE `ACT_ID_INFO` (\n  `ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin NOT NULL,\n  `REV_` int DEFAULT NULL,\n  `USER_ID_` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_bin DEFAULT N

## 测试agent路径

In [ ]:
question = 'ABCDE菜餐饮管理有限公司的联系电话和地址分别是？'
question = '你好呀！'

import json
from openai import OpenAI
from config import *
from tool import *

client = OpenAI(
    base_url=BASE_URL_BAILIAN,
    api_key=DASHSCOPE_API_KEY,
)

system_prompt = f"""
你是一位专业的DBA，根据以下<schema>中的表结构，根据用户的问题编写SQL语句，允许使用模糊匹配 LINK操作符。
<schema> {schema} </schema>
"""

response = client.chat.completions.create(
    model="qwen2.5-14b-instruct",
    messages=[{"role":"system","content":system_prompt},{"role":"user","content":question}],
    tools=TOOLS,
    tool_choice="auto",
)

print(response.choices[0].finish_reason)

if response.choices[0].finish_reason == "tool_calls":
    for tool_call in response.choices[0].message.tool_calls:
        function_name = tool_call.function.name
        function_args = json.loads(tool_call.function.arguments)

        if function_name == "search_mysql":
            answer = search_mysql(schema,dbConnection,function_args["question"])
            print(answer)
            
# print(response)

## prompt测试

In [ ]:
# 当进行大模型的二次询问时，目的是为了更准确地理解用户的意图和需求，确保提供最相关和有用的信息。这通常发生在初次询问不够具体或清晰，或者初次回应后用户提供了额外信息的情况下。

# 如果你是开发者或操作者，想要设计一个有效的二次询问策略，可以考虑以下几个方面：

# 澄清问题：如果用户的初次询问模糊不清，可以通过提问来获取更多细节。例如，“您提到的‘这个’具体指的是什么呢？”或“能否提供更多关于您的需求的背景信息？”
# 确认理解：在给出答案之前，先总结你对用户需求的理解，并请求确认。“我的理解是您需要...，对吗？” 这样可以确保提供的信息是用户真正需要的。
# 细化选项：如果用户的需求可能对应多个解决方案，提出细化的选择可以帮助他们更好地表达自己的偏好。“您是想了解A方面，还是B方面的内容呢？”
# 引导性问题：通过提出一些引导性的问题，可以帮助用户思考并明确他们的实际需求。“您是在寻找一种新的方法来解决这个问题，还是希望改进现有的方案？”
# 反馈机制：建立一个简单的反馈机制，让用户能够指出回答中的不足之处，从而进一步调整和优化回答。“以上信息是否解决了您的问题？如果没有，请告诉我还需要哪些帮助。”

In [7]:
# 读取txt文件中的所有内容
def read_txt(file_path):
    with open(file_path, 'r') as f:
        content = f.read()
    return content
schema = read_txt("./schema_output.txt")

In [14]:

system_prompt = f"""

    你是一个数据库查询专家，你需要根据用户问题生成数据库查询语句，用户并不了解数据库相关知识，请不要尝试询问用户数据库的相关知识
    
    确保生成的查询语句的准确和完整。

    数据库表结构如下：
    {schema}

    如果根据表结构信息，和用户提问的内容无法确定sql语句，请尝试向用户提问，让用户重新表达问题。

    若可以确定sql语句，则直接返回一条pymysql可执行的语句，不要添加其他任何的符号或说明。

    要求尽可能的提高查询效率

    注意你只能返回一条sql语句，若当前问题无法依靠一条sql语句完成，你尝试让用户尽可能完善表述然后重新提问
    
"""
from openai import OpenAI 
from config import *

client = OpenAI(
    base_url=BASE_URL_BAILIAN,
    api_key=DASHSCOPE_API_KEY,
)


question = """
    查询所有信息
"""

response = client.chat.completions.create(
    model="qwen2.5-32b-instruct",
    messages=[{"role":"system","content":system_prompt},{"role":"user","content":question}],
    max_tokens=96,
)
print(response.choices[0].message.content)

请明确您想要查询哪个表或哪些表中的所有信息，或者是特定字段的信息。这样我可以帮助您构建更精确的SQL查询语句。例如，如果您想查询`assets_accounting_main`表中的所有信息，您可以告诉我。

In [16]:

system_prompt = f"""

   你是一个需求确认专家，你需要根据用户需求，不断询问用户相关问题，以完善需求，直到获得一个完整的需求。
    
"""
from openai import OpenAI 
from config import *

client = OpenAI(
    base_url=BASE_URL_BAILIAN,
    api_key=DASHSCOPE_API_KEY,
)


question = """
    查询有多少员工
"""

response = client.chat.completions.create(
    model="qwen2.5-14b-instruct",
    messages=[{"role":"system","content":system_prompt},{"role":"user","content":question}],
    max_tokens=96,
)
print(response.choices[0].message.content)

为了更好地理解您的需求，请回答以下几个问题：

1. 您希望查询的是整个公司的所有员工数量吗？还是特定部门的员工数量？
2. 是否需要按照某个特定条件（例如入职时间、职位等）来筛选员工？
3. 这个查询是用于日常报告还是偶尔需要的统计信息？
4. 是否需要同时获取其他相关信息，如员工总数中的全职与兼职比例？
5. 是否有特定的时间范围限制，

In [ ]:
# 再写一个tool 进行需求判定？

# 使用集成学习的方法，使用高温得到不同的sql语句，然后选择返回结果最多的结果，作为模型输出